<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Dump</title>
    <link rel="icon" type="image/png" href="{{ base_url }}/images/favicon.ico"/>
    <link rel="stylesheet" href="{{ base_url }}/styles.css">
    <link rel="stylesheet" href="{{ base_url }}/pygment.css">
    <!-- <link rel="stylesheet" href="https://raw.githubusercontent.com/numist/highlight-css/refs/heads/main/Other/tomorrow_night_eighties.css"> -->
</head>
<body>
  <audio id="bg-music" loop preload="none">
    <!-- <source src="/audio/bg.opus" type="audio/ogg; codecs=opus"> -->
    <source src="{{ base_url }}/audio/bg.ogg" type="audio/ogg">
    <source src="{{ base_url }}/audio/bg.mp3" type="audio/mpeg">
  </audio>

  <ul class="nav">
    <!-- add /index.html if opening using file:// url -->
    <li><a href="{{ base_url }}/" title="Tylo: Hi Folk, You know theres a easter egg hidden in here. Go and see if you can find it!"><img class="icon" src="{{ base_url }}/images/siteIcon.png" alt=""></a></li>
    <li><a href="{{ base_url }}/about">About</a></li>
    <li><a href="#"><input type="checkbox" id="theme-toggle" hidden><label for="theme-toggle" id="theme-switch" title="Toggle Theme(Shift+T)">Day</label></a></li>
  </ul> 

  <header>
    {% if page.meta.estimate_read_time %}
    <div class="icon-text">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
      <span>{{ page.meta.estimate_read_time }} minutes</span>
    </div>

    {% endif %}


    <p>
    <!-- {% if page.meta.author %} -->
    <!-- <strong>Author: {{ page.meta.author }}</strong><br> -->
    <!-- {% endif %} -->

    {% if page.meta.tags %}
      <strong>Tags: </strong>
      {% for tag in page.meta.tags %}
      <code>{{ tag }}</code>{% if not loop.last %}, {% endif %}
      {% endfor %}
    {% endif %}
    </p>

    {% if page.meta.title %}
    <h1>{{ page.meta.title }}</h1>
    {% endif %}

  </header>
  
  {% block content %}{% endblock %}

  <footer>
        <hr>
        {% if page.meta.words %}
        <strong>{{ page.meta.words }} Words</strong><br>
        {% endif %}

        {% if page.meta.date %}
        <strong>Last Modified: {{ page.meta.date }}</strong><br>
        {% endif %}
        <!-- <p class="center">Made with ♥  by cyber</p> -->
        <p class="center" >crafted by me on evenings and weekends.</p>
    </footer>

    <!-- inject post container div in place of <\!-- posts -\-> -->
  <script>

    (function replacePostsComment() {
  const walker = document.createTreeWalker(
    document.body,
    NodeFilter.SHOW_COMMENT,
    null,
    false
  );

  let node;
  while ((node = walker.nextNode())) {
    if (node.nodeValue.trim() === 'posts') {
      const container = document.createElement('div');
      container.className = 'posts-container';

      const search = document.createElement('div');
      search.className = 'posts-search';

      const list = document.createElement('div');
      list.className = 'posts-list';

      const pagination = document.createElement('div');
      pagination.className = 'posts-pagination';

      container.append(search, list, pagination);

      node.parentNode.replaceChild(container, node);
      break; // only replace the first <!-- posts -->
    }
  }
})();

   window.APP_CONFIG = {
      baseUrl: "{{ base_url }}"
    };
  </script>

  <!-- load posts dynamically -->
  <script type="module" src="{{ base_url }}/script.js"></script>

</body>
</html>


